.sponsors-lista-container {
    padding: 80px 20px 60px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'arboria-regular', sans-serif;
}

.sponsors-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0px;
}

.sponsors-header h1 {
    color: #026010;
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'arboria-bold', sans-serif;
}

.sponsors-header p {
    color: #666;
    font-size: 1.1rem;
}

.sponsors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
    padding: 20px 0;
}

.sponsor-card {
    background: white;
    border-radius: 10px 40px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sponsor-card:hover {
    transform: translateY(0px);
}

.sponsor-logo {
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
}

.sponsor-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sponsor-info {
    padding: 10px;
    text-align: center;
    font-size: 'arboria-bold', sans-serif;
}

.sponsor-info h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'arboria-bold', sans-serif;
}

.header-sticky {
    position: sticky;
    top: 120px;
    background-color: white;
    padding: 10px 0;
    z-index: 100;
}

.gui-sponsors{
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'arboria-bold', sans-serif;
    margin-bottom: 10px;
    color: #666;
    background-color: #fff;
}

.gui-sponsors a {
    color: #026010;
    text-decoration: none;
}

.gui-sponsors a:hover {
    text-decoration: underline;
}

.gui-sponsors span {
    margin: 0 5px;
}

.sponsor-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sponsor-modal {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.sponsor-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sponsor-modal-content p {
    margin-top: 0px;
}

.sponsor-modal-logo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-modal-logo img {
    max-width: 200%;
    width: 140%;
    max-height: 100%;
    object-fit: contain;
}

.sponsor-modal h2 {
    color: #026010;
    font-family: 'arboria-black', sans-serif;
    padding: 0px;
    text-align: center;
    margin: 15px 0;
    margin-top: 0px;
}

.sponsor-modal-description {
    text-align: center;
    color: #666;
    line-height: 1.6;
}

.sponsor-modal-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.sponsor-modal-contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.sponsor-modal-contact i {
    color: #026010;
    font-size: 24px;
}

.sponsor-modal-contact p {
    font-size: 14px;
    color: #666;
}

.sponsor-modal-link {
    display: inline-block;
    padding: 10px 20px;
    background: #026010;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.sponsor-modal-link:hover {
    background: #024b0d;
}

@media (max-width: 768px) {
    .sponsor-modal {
        padding: 20px;
        width: 95%;
    }

    .sponsor-modal-contact {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

@media (max-width: 468px) {

    .sponsor-modal{
        padding: 5px;
    }

    .sponsor-modal-logo img{
        width: 100%;
    }

    .sponsor-modal h2{
        font-size: 1.6rem;
    }
    .sponsor-modal span, p{
        font-size: 0.8rem;
    }

    .sponsor-modal-content{
        padding: 10px;
        gap: 0px;
    }
    .sponsor-modal-logo{
        height: 140px;
    }

    .sponsor-modal-contact{
        gap: 10px;
    }

    .sponsors-lista-container {
        padding: 35px 15px 40px;
    }

    .sponsors-header h1 {
        font-size: 2rem;
    }

    .sponsors-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
    }

    .sponsor-logo {
        height: 120px;
    }

    .header-sticky {
        position: sticky;
        top: 90px;
        background-color: white;
        padding: 10px 0;
        z-index: 100;
    }
    
    .gui-sponsors{
        margin-top: 10px;
        font-size: 1rem;
        font-family: 'arboria-bold', sans-serif;
        margin-bottom: 10px;
        color: #666;
        background-color: #fff;
    }
    
    .gui-sponsors a {
        color: #026010;
        text-decoration: none;
    }
    
    .gui-sponsors a:hover {
        text-decoration: underline;
    }
    
    .gui-sponsors span {
        margin: 0 5px;
    }

    .gui-sponsors h1{
        font-size: 2.1rem;
        margin-top: 5px;
    }
}