.miembros-page {
    padding: 10px 40px;
    max-width: 1200px;
    margin: 10px auto 0;
    font-family: 'arboria-regular';
}

.header-sticky {
    position: sticky;
    top: 70px;
    transform: translateY(-40px);
    background-color: white;
    z-index: 100;
    padding: 20px 0;
}

.miembros-guion {
    padding: 10px 0px;
    position: sticky;
    top: 100px;
    width: 100%;
    font-size: 0.7rem;
    font-family: 'arboria-bold', sans-serif;
    color: #666;
    z-index: 100;
}

.miembros-guion a {
    color: #026010;
    text-decoration: none;
}

.miembros-guion span {
    margin: 0 4px;
}

.miembros-guion a:hover {
    text-decoration: underline;
}

.search-section {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input {
    padding: 10px 15px;
    color: #026010;
    font-family: 'arboria-regular';
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    width: 300px;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #026010;
    outline: none;
}

.sort-button {
    padding: 10px 20px;
    background: #026010;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sort-button:hover {
    background: #028641;
}

.miembros-table-container {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.miembros-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.miembros-table th {
    background-color: #026010;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
}

.miembros-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.miembros-table tbody tr:hover {
    background-color: #f8f8f8;
}

.miembros-table tbody tr:last-child td {
    border-bottom: none;
}

@media (max-width: 768px) {
    .miembros-page {
        padding: 10px;
    }

    .search-input {
        width: 90.5%;
    }

    .search-section {
        flex-direction: column;
    }

    .sort-button {
        width: 100%;
    }

    .miembros-table-container{
        font-size: 0.8  rem;
    }
}