.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #026010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #024d08;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}