.login-container {
    font-family: 'arboria-regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.login-container img{
    width: 280px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-family: 'arboria-bold';
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

p{
    font-size: 0.8rem;
    margin: 0px;
    margin-top: 10px;
}

a{
    color: #026010;
    font-family: 'arboria-bold';
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: gold;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px !important;
    margin-top: 0px !important;
    font-size: 1rem;
    background-color: #026010;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #024d08 !important;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
}