.act-page1 {
    font-family: 'arboria-bold';
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}

.header-sticky1 {
    position: sticky;
    top: 80px;
    background-color: white;
    padding: 10px 0;
    z-index: 100;
}

.breadcrumb-actividades {
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: 'arboria-bold', sans-serif;
    margin-bottom: 10px;
    color: #666;
    background-color: #fff;
}

.breadcrumb-actividades a {
    color: #026010;
    text-decoration: none;
}

.breadcrumb-actividades a:hover {
    text-decoration: underline;
}

.breadcrumb-actividades span {
    margin: 0 5px;
}

.act-page1{
    margin-top: 0px;
}

.act-page1 h1 {
    font-family: 'arboria-bold', sans-serif;
    color: #026010;
    font-size: 3rem;
    margin-bottom: 5px;
    margin-top: 0px;
}

.act-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    height: 100% !important;
    max-height: 100%;
}

.act-item {
    position: relative;
    border-radius: 10px 40px !important;
    height: 310px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
    cursor: pointer;
}

.act-item:hover {
    text-decoration: underline;
}

.act-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -170px 190px rgba(52, 137, 90, 0.9);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 1;
    border-radius: 0%;
}

.act-item:hover .act-imagen {
    transform: scale(1.1);
}

.act-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    z-index: 2;
    padding: 10%;
}

.act-info h3 {
    font-family: 'arboria-black';
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #fff;
    margin-bottom: 20px;
}

.fecha1 {
    font-size: 0.9rem;
    width: 100px;
    border-radius: 10px;
    margin: auto 0px;
    padding: 5px 12px;
    background-color: #fff;
    color: #028641;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .act-list {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .act-item {
        position: relative;
        border-radius: 10px 40px !important;
        height: 410px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: #fff;
        cursor: pointer;
    }

    .act-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        z-index: 2;
        padding: 8%;
    }
    
    .act-info h3 {
        font-family: 'arboria-black';
        font-size: 3rem;
        line-height: 3rem;
        color: #fff;
        margin-bottom: 20px;
    }


}

@media (max-width: 468px) {

    .act-page1{
        padding: 0px 20px;
    }
    .act-list {
        padding: 0px;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .act-page1 h1 {
        font-family: 'arboria-bold', sans-serif;
        color: #026010;
        font-size: 2.1rem;
        margin-bottom: 5px;
        margin-top: 0px;
    }    

    .act-item {
        position: relative;
        border-radius: 10px 40px !important;
        height: 320px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: #fff;
        cursor: pointer;
    }

    .act-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        z-index: 2;
        padding: 8%;
    }
    
    .act-info h3 {
        font-family: 'arboria-black';
        font-size: 2.3rem;
        line-height: 2.3rem;
        color: #fff;
        margin-bottom: 20px;
    }
    .header-sticky1 {
        position: sticky;
        top: 50px;
        background-color: white;
        padding: 10px 0;
        z-index: 100;
    }

}