.admin-panel {
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: 'arboria-regular';
}

.sidebar {
    width: 250px;
    background-color: #026010;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: 'arboria-regular';
}

.sidebar-banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sidebar button {
    font-family: 'arboria-regular';
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #028641;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #026010;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    font-family: 'arboria-regular';
}

.section h2 {
    margin-bottom: 10px;
    margin-top: 0px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    font-family: 'arboria-regular';
    width: 95%;
    padding: 10px;
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #028641;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'arboria-regular';
}

button:hover {
    background-color: #026010;
}

.actividad-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actividades-list {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto; /* Barra de desplazamiento vertical */
    max-height: 300px; /* Altura máxima para la lista */
}

.actividad-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.actividad-imagen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.actividad-info {
    flex-grow: 1;
}

.actividad-actions {
    display: flex;
    gap: 10px;
}

.actividad-actions button {
    padding: 5px 10px;
    font-size: 0.9rem;
}

.imagen-preview {
    width: 100%;
    height: auto;
    margin-top: 10px;
}