@font-face {
    font-family: 'arboria-black';
    src: 
         url('./arboria/Arboria-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arboria-bold';
    src: 
         url('./arboria/Arboria-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arboria-regular';
    src: 
         url('./arboria/Arboria-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}


@font-face {
    font-family: 'arboria-light';
    src: 
         url('./arboria/Arboria-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Puedes agregar más definiciones de fuentes aquí */