@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;

}

body {
  display: flex;
  justify-content: center;
  min-width: 0px;
  min-height: 0vh;
  touch-action: pan-x pan-y;
  -webkit-overflow-scrolling: touch;
  color: #028641;
  background-color: #FFFFFF;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="password"],
textarea,
select {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  touch-action: manipulation;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}