.noticia-detalle-page {
    display: flex;
    flex-direction: column;
    font-family: 'arboria-regular', sans-serif;
    padding: 40px;
    max-width: 100%;
    margin-top: 80px;
    background-color: #e2f7e6;
    align-items: center;
}

.gui-noticias {
    padding: 10px 0px;
    margin-top: 100px;
    position: sticky;
    top: 100px;
    width: 100%;
    margin: 0px 20px;
    margin-bottom: 30px;
    font-size: 0.7rem;
    font-family: 'arboria-bold', sans-serif;
    color: #666;
    z-index: 100;
}

.gui-noticias a {
    color: #026010;
    text-decoration: none;
}

.gui-noticias span {
    margin: 0 4px;
}

.gui-noticias a:hover {
    text-decoration: underline;
}

.noticiasheader-sticky {
    position: sticky;
    top: 80px;
    background-color: white;
    padding: 10px 0;
    z-index: 100;
}

.noticia-header {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.noticia-title-section {
    padding-right: 20px;
}

.noticia-title-section h1 {
    font-family: 'arboria-black';
    font-size: 3.1rem;
    color: #026010;
    margin: 0 0 20px 0;
    line-height: 3.1rem;
}

.destacado-badge {
    font-family: 'arboria-bold' !important;
    display: inline-block;
    padding: 8px 16px;
    background-color: #FFD700;
    color: #333;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

.noticia-image-section {
    display: flex;
    justify-content: center;
}

.noticia-detalle-imagen {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 40px;
}

.noticia-descripcion {
    
    margin: 0 40px;
    font-family: 'arboria-regular';
    max-width: 800px;
    padding: 20px;
    line-height: 1.7rem;
    color: #333;
    font-size: 1rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .noticia-header {
        grid-template-columns: 1fr;
    }

    .noticia-title-section {
        padding-right: 0;
        order: 2;
    }

    .noticia-image-section {
        order: 1;
    }

    .noticia-detalle-imagen {
        height: 300px;
    }
    .noticias-list {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .noticia-item {
        position: relative;
        border-radius:  40px !important;
        height: 410px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: #fff;
        cursor: pointer;
    }

    .noticia-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        z-index: 2;
        padding: 8%;
    }
    
    .noticia-info h3 {
        font-family: 'arboria-black';
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #fff;
        margin-bottom: 20px;
    }
}

@media (max-width: 469px) {

    .gui-noticias {
        padding: 10px 0px;
        margin-top: 0px;
        position: sticky;
        top: 100px;
        width: 100%;
        margin: 0px 0px;
        margin-bottom: 0px;
        font-size: 0.7rem;
        font-family: 'arboria-bold', sans-serif;
        color: #666;
        z-index: 100;
    }

    .gui-noticias a {
        color: #026010;
        text-decoration: none;
    }

    .gui-noticias span {
        margin: 0 4px;
    }

    .gui-noticias a:hover {
        text-decoration: underline;
    }
    .noticias-page{
        margin-top: 45px;
        padding: 0px 20px;
    }

    .noticias-page h1{
        font-size: 1.8rem;
        margin-top: 10px;
    }
    .noticia-header {
        grid-template-columns: 1fr;
    }

    .noticia-title-section {
        padding-right: 0;
        order: 2;
    }

    .noticia-image-section {
        order: 1;
    }

    .noticia-detalle-imagen {
        height: 300px;
    }
    .noticias-list {
        margin-top: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .noticia-item {
        position: relative;
        border-radius:  40px !important;
        height: 410px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: #fff;
        cursor: pointer;
    }

    .noticia-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        z-index: 2;
        padding: 8%;
    }
    
    .noticia-info h3 {
        font-family: 'arboria-black';
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #fff;
        margin-bottom: 20px;
    }

    .noticia-detalle-page{
        padding: 0px 20px;
        margin-top: 40px;
    }

    .noticia-header{
        margin: 0px 0px;
    }

    .noticia-title-section h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .noticia-descripcion{
        margin: 0px ;
        padding: 0px;
        text-align: left;
        margin-bottom: 40px;
    }

    .noticia-descripcion h1 {
        font-size: 1.4rem;
        margin-bottom: 0.5em;
        color: #026010;
    }
    
    .noticia-descripcion h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #026010;
    }
    
    .noticia-descripcion h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        color: #026010;
    }
    
    .noticia-descripcion p {
        margin-bottom: 1em;
    }
}